<% layout('layouts/100bacBoilerplate') %>
<style>
    html {
        font-size: 90%;
        padding: 0;
        margin: 0;
    }

    .dashboard-banner {
        background: url(https://images.pexels.com/photos/6238037/pexels-photo-6238037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 50vh;
        padding: 0;
        margin: 0;
    }

    .title {
        font-family: 'Courier New', Courier, monospace;
        font-family: "Esteban";
        font-family: "Titan One", cursive;
        font-size: 5rem;
        color: aliceblue;
        text-shadow: 1px 2px 1px white;
    }

    .welcome {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        padding: 3rem 1rem;
    }

    .basic-info-card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .student-img {}

    .student-full-name {
        font-size: 1.5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 1rem 0 0.5rem;
        text-align: center;
        color: blueviolet;
    }

    .serie-info {
        font-size: 1.3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 1rem 0 0 0;
        text-align: start;
    }

    .links-wrapper {
        background: #36D1DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #5B86E5, #36D1DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding: 1rem 0.5rem 0.5rem;
    }

    .espace-perso {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-family: "Titan One", cursive;
        color: rgb(238, 239, 242);
        font-weight: 500;
        letter-spacing: 0.2rem;
        font-size: 1.4rem;
    }

    .links-btn {
        width: 10rem;
    }

    @media (max-width: 700px) {

        .title {
            font-size: 3rem;

        }


        .links-btn {
            width: 8rem;
        }
    }
</style>
<div class="dashboard-banner d-flex justify-content-around align-items-center ">
    <h1 class="title">
        Easy-<span style="color:rgb(125, 6, 164) ;">Maths</span>
    </h1>
</div>


<h3 class="text-center welcome">Ne vous inquietez pas <span
        style="color: rgb(19, 99, 204);"><%= student.studentBasicInfo.surname %></span>, avec
    Easy-<span style="color: rgb(85, 7, 110);">Maths</span> vous obtiendrez<span style="color: rgb(19, 99, 204);">
        de bonnes notes</span>
    en Maths
</h3>

<!-- Basic Info -->
<div class="basic-info-wrapper container col-md-8">
    <div class="basic-info-card p-2">
        <div class="row">
            <div class="col-lg-4"> <img class="student-img img-fluid" src="<%= student.studentBasicInfo.imageUrl%>"
                    alt="" />
            </div>
            <div class="col-lg-8">
                <p class="student-full-name"><%= student.studentBasicInfo.surname %>
                    <%= student.studentBasicInfo.name %></p>
                <p class="serie-info"><span
                        class="fst-italic text-primary"><%= student.missionStatement %></span></span>
                </p>
                <hr>
                <div class="d-flex justify-content-around flex-wrap">
                    <p class="serie-info"><%= student.serie %></p>

                    <p class="serie-info"><%= student.class %></p>

                    <p class="serie-info"><%= student.academicYear %></p>
                </div>
                <p class="serie-info text-center ps-3" style="color:rgb(33, 137, 247);">Etablissement :
                    <%= student.school %></span>
                </p>
            </div>
        </div>
        <div class="links-wrapper ">
            <h5 class="text-center espace-perso py-2">Mon espace perso d'apprentissage</h5>
            <hr>
            <div class="mb-4 d-flex justify-content-around">
                <a href="" class="btn links-btn btn-primary">Cours de maths</a>
                <a href="" class="btn links-btn btn-primary">Exo Perso</a>
                <a href="" class="btn links-btn btn-primary">Bonus des Profs</a>
            </div>
            <div class=" d-flex justify-content-around">
                <a href="" class="btn links-btn btn-success">Devoir Test</a>
                <a href="" class="btn links-btn btn-success">Conseils Perso</a>
                <a href="" class="btn links-btn btn-success">Progrès</a>
            </div>
        </div>
    </div>
</div>