<% layout('layouts/100bacBoilerplate') %>
<link href="/stylesheets/100bac/subject.css" rel="stylesheet" />
<script src="https://www.desmos.com/api/v1.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6&lang=es-ES,fr">
</script>

<!-- Breadcrumbs-->
<div class="breadcrumb">
  <a href="/100bac" class="">Acceuil - 100% BAC</a>
  <a href="/100bac/class/<%=  schoolClass._id %>" class=""><%=  schoolClass.title %> <%= schoolClass.serie %></a>
  <a href="/100bac" class="active"><%= subject.title %> </a>
</div>
<!-- End -->

<h1 class="subject-title text-center"><span><%=subject.title%> </span><%=  schoolClass.title %>
  <%=  schoolClass.serie %></h1>

<div id="maths-section">
  <div class="chapters">
    <h3 class="text-warning text-center pt-4">Profitez gratuitement des explications du Cours et Exercices corrigés
      d'appliation directe du cours</h3>
    <p class="instruction-paragraph">
      Prenez le temps de bien suivre les explications dans les vidéos <br> Essayez les exercices
      d'entrainement pour mieux comprendre. <br>
      Bonne Concentration 😉...
    </p>

  </div>
</div>
<!--
<h4 class="text-center mt-4 py-2" style="color: rgb(46, 57, 69); font-style: italic;">Obtenez un Accès Premium en
  s'inscrivant dans nos centres de cours d'appui</h4>
-->

<!-- Graph Calculator -->
<h3 class="text-center my-5"> Utilisation de la calcuatrice</h3>
<div class="row">
  <div class="col-md-6 my-2">
    <div class="calc-card d-flex justify-content-center align-items-center flex-column">
      <h4 class="text-center py-3">Calculatrice Graphique</h4>
      <button type="button" class="btn mb-4 w-50 btn-outline-primary " data-bs-toggle="modal"
        data-bs-target="#graph-calc">Tracer une courbe</button>
    </div>
  </div>

  <div class="col-md-6 my-2">
    <div class="calc-card d-flex justify-content-center align-items-center flex-column">
      <h4 class="text-center py-3">Calculatrice Scientifique</h4>
      <button type="button" class="btn mb-4 w-50 btn-outline-primary " data-bs-toggle="modal"
        data-bs-target="#scien-calc">Faire des Operations</button>
    </div>
  </div>
</div>

<!-- Modal  for Graph Calculator-->
<div class="modal fade" id="graph-calc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #333; color: #fff">
        <h5 class="modal-title" id="exampleModalLabel">Calculatrice Graphique</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div id="calculator" style="width: 100%; height:500px; border: 2px solid #222"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal  for Scientific Calculator-->
<div class="modal fade" id="scien-calc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #333; color: #fff">
        <h5 class="modal-title" id="exampleModalLabel">Calculatrice Scientifique</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <!-- <div id="calculator" style="width: 100%; height:500px; border: 2px solid #222"></div> -->
        <div id="scien-calculator" style="width: 100%; max-width: 600px; height: 500px; border: 2px solid skyblue">
          <div class="dcg-calculator-api-container" style="width: 100%; height: 100%; position: relative;">
            <div
              class="dcg-calc-basic-main-wrapper dcg-narrow dcg-short dcg-scientific-calculator dcg-container dcg-tap-container touchtracking_id_1 dcg-hovered"
              x-ms-format-detection="none">
              <div role="application" aria-label="Desmos Scientific Calculator" class="dcg-calc-basic-main"
                style="font-size:16px;background:#ffffff;color:#000000;filter:none">
                <div class="dcg-basic-list-container" role="complementary" aria-label="Expression List">
                  <div class="dcg-basic-list-placeholder">
                    <div style="display: none"></div>
                  </div>
                  <div class="dcg-basic-list">
                    <div class="dcg-basic-expression" ontap="">
                      <div style="display: none"></div>
                      <div style="display: none"></div>
                      <div style="display: none"></div>
                      <div class="dcg-exp-mathquill-container">
                        <div class="dcg-mq-container">
                          <div style="display: none"></div>
                          <div class="dcg-math-field dcg-mq-editable-field dcg-mq-math-mode" aria-label="Math Input:">
                            <span class="dcg-mq-textarea"><textarea aria-label="Math Input:"></textarea></span><span
                              class="dcg-mq-root-block dcg-mq-empty"></span></div>
                        </div>
                      </div>
                      <div class="dcg-exp-output-container">
                        <div style="display: none"></div>
                        <div style="display: none"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: none"></div>
                <div class="">
                  <div class="dcg-keypad-control-bar dcg-do-not-blur" role="group" aria-label="Control Bar">
                    <div class="dcg-keypad-control-bar-contents">
                      <div class="dcg-keypad-control-btn dcg-selected dcg-selectable-btn" role="button"
                        aria-label="main" dcg-command="main" ontap="" aria-pressed="true" tabindex="-1">main</div>
                      <div class="dcg-keypad-control-btn dcg-selectable-btn" role="button" aria-label="A B C"
                        dcg-command="ABC" ontap="" aria-pressed="false" tabindex="-1">abc</div>
                      <div class="dcg-keypad-control-btn dcg-selectable-btn" role="button" aria-label="Functions"
                        dcg-command="functions" ontap="" aria-pressed="false" tabindex="-1">func</div>
                      <div class="dcg-keypad-control-toggle" role="button" tabindex="0"
                        aria-label="Radians selected. Press Enter to switch to Degrees." ontap="">
                        <div class="dcg-ctrl-toggle-option">rad</div>
                        <div class="dcg-ctrl-toggle-option">deg</div>
                        <div class="dcg-ctrl-toggle-cover" style="background:#e6e6e6"></div>
                      </div>
                      <div class="dcg-keypad-control-btn dcg-disabled" role="button" aria-disabled="true"
                        aria-label="Undo" dcg-command="undo" ontap=""><i class="dcg-icon-undo"></i></div>
                      <div class="dcg-keypad-control-btn dcg-disabled" role="button" aria-disabled="true"
                        aria-label="Redo" dcg-command="redo" ontap=""><i class="dcg-icon-redo"></i></div>
                      <div class="dcg-keypad-control-btn dcg-disabled" role="button" aria-disabled="true"
                        aria-label="clear all" dcg-command="clearall" ontap="">clear all</div>
                      <div class="dcg-basic-settings-container">
                        <div class="dcg-keypad-control-btn" role="button" aria-label="settings" dcg-command="settings"
                          ontap="" aria-expanded="false" tabindex="0"><i class="dcg-icon-wrench"></i></div>
                        <div style="display: none"></div>
                      </div>
                    </div>
                  </div>
                  <div class="dcg-basic-keypad-container">
                    <div role="group" aria-label="keypad" class="">
                      <div class="dcg-basic-keypad dcg-do-not-blur">
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="a^2" aria-label="Squared"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="&quot;a&quot; Superscript, 2 , Baseline"><span aria-hidden="true"
                                    class="dcg-mq-selectable">$$</span><span class="dcg-mq-root-block"><var
                                      aria-hidden="true">a</var><span
                                      class="dcg-mq-supsub dcg-mq-non-leaf dcg-mq-sup-only" aria-hidden="true"><span
                                        class="dcg-mq-sup" aria-hidden="true"><span class="dcg-mq-digit"
                                          aria-hidden="true">2</span></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="a^b" aria-label="Superscript"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="&quot;a&quot; Superscript, &quot;b&quot; , Baseline"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true">a</var><span
                                      class="dcg-mq-supsub dcg-mq-non-leaf dcg-mq-sup-only" aria-hidden="true"><span
                                        class="dcg-mq-sup" aria-hidden="true"><var
                                          aria-hidden="true">b</var></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="|a|" aria-label="Absolute Value"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="| &quot;a&quot; |">
                                  <span aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">|</span><var
                                      aria-hidden="true">a</var><span aria-hidden="true">|</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="7" aria-label="7" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="7"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">7</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="8" aria-label="8" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="8"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">8</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="9" aria-label="9" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="9"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">9</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="/" aria-label="Divide"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="over"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-binary-operator"
                                      aria-hidden="true">÷</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="%" aria-label="Percent Of"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="%"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-nonSymbola"
                                      aria-hidden="true">%</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="a/b" aria-label="A over B"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="StartFraction, &quot;a&quot; Over &quot;b&quot; , EndFraction"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-fraction dcg-mq-non-leaf"
                                      aria-hidden="true"><span class="dcg-mq-numerator" aria-hidden="true"><var
                                          aria-hidden="true">a</var></span><span class="dcg-mq-denominator"
                                        aria-hidden="true"><var aria-hidden="true">b</var></span><span
                                        style="display:inline-block;width:0">​</span></span></span></div>
                              </span></span></div>
                        </div>
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="sqrt" aria-label="Square Root"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="StartRoot, , EndRoot"><span aria-hidden="true"
                                    class="dcg-mq-selectable">$$</span><span class="dcg-mq-root-block"><span
                                      class="dcg-mq-non-leaf dcg-mq-sqrt-container" aria-hidden="true"><span
                                        class="dcg-mq-scaled dcg-mq-sqrt-prefix"><svg preserveAspectRatio="none"
                                          viewBox="0 0 32 54">
                                          <path d="M0 33 L7 27 L12.5 47 L13 47 L30 0 L32 0 L13 54 L11 54 L4.5 31 L0 33">
                                          </path>
                                        </svg></span><span class="dcg-mq-non-leaf dcg-mq-sqrt-stem dcg-mq-empty"
                                        aria-hidden="true"></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="nthroot" aria-label="Nth Root"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="Root Index &quot;n&quot; , Start Root, , End Root"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-nthroot-container dcg-mq-non-leaf"
                                      aria-hidden="true"><sup class="dcg-mq-nthroot dcg-mq-non-leaf"
                                        aria-hidden="true"><var aria-hidden="true">n</var></sup><span
                                        class="dcg-mq-scaled dcg-mq-sqrt-container"><span
                                          class="dcg-mq-sqrt-prefix dcg-mq-scaled"><svg preserveAspectRatio="none"
                                            viewBox="0 0 32 54">
                                            <path
                                              d="M0 33 L7 27 L12.5 47 L13 47 L30 0 L32 0 L13 54 L11 54 L4.5 31 L0 33">
                                            </path>
                                          </svg></span><span class="dcg-mq-sqrt-stem dcg-mq-non-leaf dcg-mq-empty"
                                          aria-hidden="true"></span></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="pi" aria-label="Pi"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="pi"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-nonSymbola"
                                      aria-hidden="true">π</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="4" aria-label="4" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="4"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">4</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="5" aria-label="5" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="5"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">5</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="6" aria-label="6" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="6"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">6</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="*" aria-label="Times"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="times"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-binary-operator"
                                      aria-hidden="true">×</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="left" aria-label="Left Arrow"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-arrow-left"></i></span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="right" aria-label="Right Arrow"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-arrow-right"></i></span></span></div>
                        </div>
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="sin" aria-label="Sine"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=""><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true"
                                      class="dcg-mq-operator-name">s</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">i</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">n</var></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="cos" aria-label="Cosine"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=""><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true"
                                      class="dcg-mq-operator-name">c</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">o</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">s</var></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="tan" aria-label="Tangent"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=""><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true"
                                      class="dcg-mq-operator-name">t</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">a</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">n</var></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="1" aria-label="1" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="1"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">1</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="2" aria-label="2" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="2"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">2</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="3" aria-label="3" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="3"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">3</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="-" aria-label="Minus"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="minus"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true" class="">−</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div style="flex-grow:0.5" class="">

                          </div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1.5"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="backspace" aria-label="Backspace"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-delete"></i></span></span></div>
                        </div>
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="(" aria-label="Left Parenthesis"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="("><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">(</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command=")"
                              aria-label="Right Parenthesis" ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=")"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">)</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="," aria-label="," ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=","><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">,</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="0" aria-label="0" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="0"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">0</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="." aria-label="Decimal"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="."><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">.</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="ans" aria-label="Answer"
                              ontap=""><span class="dcg-keypad-btn-content">ans</span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="+" aria-label="Plus"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="plus"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true" class="">+</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:2"><span role="button"
                              class="dcg-keypad-btn dcg-btn-short-blue" dcg-command="enter" aria-label="Enter"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-arrow-enter"></i></span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: none"></div>
                <div style="display: none"></div>
              </div>
            </div>
          </div>
          </div<div id="calculator" style="width: 100%; max-width: 600px; height: 500px;">
          <div class="dcg-calculator-api-container" style="width: 100%; height: 100%; position: relative;">
            <div
              class="dcg-calc-basic-main-wrapper dcg-narrow dcg-short dcg-scientific-calculator dcg-container dcg-tap-container touchtracking_id_1 dcg-hovered"
              x-ms-format-detection="none">
              <div role="application" aria-label="Desmos Scientific Calculator" class="dcg-calc-basic-main"
                style="font-size:16px;background:#ffffff;color:#000000;filter:none">
                <div class="dcg-basic-list-container" role="complementary" aria-label="Expression List">
                  <div class="dcg-basic-list-placeholder">
                    <div style="display: none"></div>
                  </div>
                  <div class="dcg-basic-list">
                    <div class="dcg-basic-expression" ontap="">
                      <div style="display: none"></div>
                      <div style="display: none"></div>
                      <div style="display: none"></div>
                      <div class="dcg-exp-mathquill-container">
                        <div class="dcg-mq-container">
                          <div style="display: none"></div>
                          <div class="dcg-math-field dcg-mq-editable-field dcg-mq-math-mode" aria-label="Math Input:">
                            <span class="dcg-mq-textarea"><textarea aria-label="Math Input:"></textarea></span><span
                              class="dcg-mq-root-block dcg-mq-empty"></span></div>
                        </div>
                      </div>
                      <div class="dcg-exp-output-container">
                        <div style="display: none"></div>
                        <div style="display: none"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: none"></div>
                <div class="">
                  <div class="dcg-keypad-control-bar dcg-do-not-blur" role="group" aria-label="Control Bar">
                    <div class="dcg-keypad-control-bar-contents">
                      <div class="dcg-keypad-control-btn dcg-selected dcg-selectable-btn" role="button"
                        aria-label="main" dcg-command="main" ontap="" aria-pressed="true" tabindex="-1">main</div>
                      <div class="dcg-keypad-control-btn dcg-selectable-btn" role="button" aria-label="A B C"
                        dcg-command="ABC" ontap="" aria-pressed="false" tabindex="-1">abc</div>
                      <div class="dcg-keypad-control-btn dcg-selectable-btn" role="button" aria-label="Functions"
                        dcg-command="functions" ontap="" aria-pressed="false" tabindex="-1">func</div>
                      <div class="dcg-keypad-control-toggle" role="button" tabindex="0"
                        aria-label="Radians selected. Press Enter to switch to Degrees." ontap="">
                        <div class="dcg-ctrl-toggle-option">rad</div>
                        <div class="dcg-ctrl-toggle-option">deg</div>
                        <div class="dcg-ctrl-toggle-cover" style="background:#e6e6e6"></div>
                      </div>
                      <div class="dcg-keypad-control-btn dcg-disabled" role="button" aria-disabled="true"
                        aria-label="Undo" dcg-command="undo" ontap=""><i class="dcg-icon-undo"></i></div>
                      <div class="dcg-keypad-control-btn dcg-disabled" role="button" aria-disabled="true"
                        aria-label="Redo" dcg-command="redo" ontap=""><i class="dcg-icon-redo"></i></div>
                      <div class="dcg-keypad-control-btn dcg-disabled" role="button" aria-disabled="true"
                        aria-label="clear all" dcg-command="clearall" ontap="">clear all</div>
                      <div class="dcg-basic-settings-container">
                        <div class="dcg-keypad-control-btn" role="button" aria-label="settings" dcg-command="settings"
                          ontap="" aria-expanded="false" tabindex="0"><i class="dcg-icon-wrench"></i></div>
                        <div style="display: none"></div>
                      </div>
                    </div>
                  </div>
                  <div class="dcg-basic-keypad-container">
                    <div role="group" aria-label="keypad" class="">
                      <div class="dcg-basic-keypad dcg-do-not-blur">
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="a^2" aria-label="Squared"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="&quot;a&quot; Superscript, 2 , Baseline"><span aria-hidden="true"
                                    class="dcg-mq-selectable">$$</span><span class="dcg-mq-root-block"><var
                                      aria-hidden="true">a</var><span
                                      class="dcg-mq-supsub dcg-mq-non-leaf dcg-mq-sup-only" aria-hidden="true"><span
                                        class="dcg-mq-sup" aria-hidden="true"><span class="dcg-mq-digit"
                                          aria-hidden="true">2</span></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="a^b" aria-label="Superscript"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="&quot;a&quot; Superscript, &quot;b&quot; , Baseline"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true">a</var><span
                                      class="dcg-mq-supsub dcg-mq-non-leaf dcg-mq-sup-only" aria-hidden="true"><span
                                        class="dcg-mq-sup" aria-hidden="true"><var
                                          aria-hidden="true">b</var></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="|a|" aria-label="Absolute Value"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="| &quot;a&quot; |">
                                  <span aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">|</span><var
                                      aria-hidden="true">a</var><span aria-hidden="true">|</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="7" aria-label="7" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="7"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">7</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="8" aria-label="8" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="8"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">8</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="9" aria-label="9" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="9"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">9</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="/" aria-label="Divide"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="over"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-binary-operator"
                                      aria-hidden="true">÷</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="%" aria-label="Percent Of"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="%"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-nonSymbola"
                                      aria-hidden="true">%</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="a/b" aria-label="A over B"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="StartFraction, &quot;a&quot; Over &quot;b&quot; , EndFraction"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-fraction dcg-mq-non-leaf"
                                      aria-hidden="true"><span class="dcg-mq-numerator" aria-hidden="true"><var
                                          aria-hidden="true">a</var></span><span class="dcg-mq-denominator"
                                        aria-hidden="true"><var aria-hidden="true">b</var></span><span
                                        style="display:inline-block;width:0">​</span></span></span></div>
                              </span></span></div>
                        </div>
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="sqrt" aria-label="Square Root"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="StartRoot, , EndRoot"><span aria-hidden="true"
                                    class="dcg-mq-selectable">$$</span><span class="dcg-mq-root-block"><span
                                      class="dcg-mq-non-leaf dcg-mq-sqrt-container" aria-hidden="true"><span
                                        class="dcg-mq-scaled dcg-mq-sqrt-prefix"><svg preserveAspectRatio="none"
                                          viewBox="0 0 32 54">
                                          <path d="M0 33 L7 27 L12.5 47 L13 47 L30 0 L32 0 L13 54 L11 54 L4.5 31 L0 33">
                                          </path>
                                        </svg></span><span class="dcg-mq-non-leaf dcg-mq-sqrt-stem dcg-mq-empty"
                                        aria-hidden="true"></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="nthroot" aria-label="Nth Root"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view"
                                  aria-label="Root Index &quot;n&quot; , Start Root, , End Root"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-nthroot-container dcg-mq-non-leaf"
                                      aria-hidden="true"><sup class="dcg-mq-nthroot dcg-mq-non-leaf"
                                        aria-hidden="true"><var aria-hidden="true">n</var></sup><span
                                        class="dcg-mq-scaled dcg-mq-sqrt-container"><span
                                          class="dcg-mq-sqrt-prefix dcg-mq-scaled"><svg preserveAspectRatio="none"
                                            viewBox="0 0 32 54">
                                            <path
                                              d="M0 33 L7 27 L12.5 47 L13 47 L30 0 L32 0 L13 54 L11 54 L4.5 31 L0 33">
                                            </path>
                                          </svg></span><span class="dcg-mq-sqrt-stem dcg-mq-non-leaf dcg-mq-empty"
                                          aria-hidden="true"></span></span></span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="pi" aria-label="Pi"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="pi"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-nonSymbola"
                                      aria-hidden="true">π</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="4" aria-label="4" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="4"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">4</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="5" aria-label="5" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="5"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">5</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="6" aria-label="6" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="6"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">6</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="*" aria-label="Times"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="times"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-binary-operator"
                                      aria-hidden="true">×</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="left" aria-label="Left Arrow"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-arrow-left"></i></span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="right" aria-label="Right Arrow"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-arrow-right"></i></span></span></div>
                        </div>
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="sin" aria-label="Sine"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=""><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true"
                                      class="dcg-mq-operator-name">s</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">i</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">n</var></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="cos" aria-label="Cosine"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=""><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true"
                                      class="dcg-mq-operator-name">c</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">o</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">s</var></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="tan" aria-label="Tangent"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=""><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><var aria-hidden="true"
                                      class="dcg-mq-operator-name">t</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">a</var><var aria-hidden="true"
                                      class="dcg-mq-operator-name">n</var></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="1" aria-label="1" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="1"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">1</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="2" aria-label="2" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="2"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">2</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="3" aria-label="3" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="3"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">3</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="-" aria-label="Minus"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="minus"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true" class="">−</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div style="flex-grow:0.5" class=""></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1.5"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="backspace" aria-label="Backspace"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-delete"></i></span></span></div>
                        </div>
                        <div class="dcg-keypad-row">
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="(" aria-label="Left Parenthesis"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="("><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">(</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command=")"
                              aria-label="Right Parenthesis" ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=")"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">)</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="," aria-label="," ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label=","><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true">,</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="0" aria-label="0" ontap=""><span
                                class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="0"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">0</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-dark-on-gray" dcg-command="." aria-label="Decimal"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="."><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span class="dcg-mq-digit"
                                      aria-hidden="true">.</span></span></div>
                              </span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="ans" aria-label="Answer"
                              ontap=""><span class="dcg-keypad-btn-content">ans</span></span></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:1"><span role="button"
                              class="dcg-keypad-btn dcg-btn-light-on-gray" dcg-command="+" aria-label="Plus"
                              ontap=""><span class="dcg-keypad-btn-content">
                                <div class="dcg-mq-math-mode dcg-static-mathquill-view" aria-label="plus"><span
                                    aria-hidden="true" class="dcg-mq-selectable">$$</span><span
                                    class="dcg-mq-root-block"><span aria-hidden="true" class="">+</span></span></div>
                              </span></span></div>
                          <div class="dcg-partition-placeholder"></div>
                          <div class="dcg-keypad-btn-container" style="flex-grow:2"><span role="button"
                              class="dcg-keypad-btn dcg-btn-short-blue" dcg-command="enter" aria-label="Enter"
                              ontap=""><span class="dcg-keypad-btn-content"><i
                                  class="dcg-icon-arrow-enter"></i></span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: none"></div>
                <div style="display: none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--End Graph Calculator -->

<h3 class="chapter-list"> Liste des chapitres </h3>
<!-- course chapters -->
<div class="week-wrapper">
  <% for(const [i, chapter] of subject.chapitres.entries()) {%>
  <div class="week-lesson my-5">
    <div class="lesson-info my-3 row">
      <div class="col-md-3 d-flex justify-content-center">
        <img src="<%= chapter.chapterImageUrl%>" alt=""
          class="week-lesson-img img-fluid img-thumbnail border border-dark" />
      </div>
      <div class="col-md-8 ">
        <div class="d-flex justify-content-center flex-wrap align-items-center">
          <h2 class="week-number">
            Chapitre <%= i +1 %>: <%= chapter.title %></h2>
        </div>
        <div class="lesson-links">
          <!-- Button trigger modal -->
          <div>
            <button type="button" class="btn ms-2 video-btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#N<%= chapter._id %>">
              En savoir plus
            </button>
            <a class="btn mx-3 btn-outline-success"
              href="/100bac/class/<%= schoolClass._id%>/subject/<%=subject._id%>/chapter/<%=chapter._id%>">Contenu du
              cours</a>
          </div>
          <!-- Modal  for course details video -->
          <div class="modal fade" id="N<%= chapter._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    A propos de ce chapitre
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div id="tv-container">
                    <div id="monitor">
                      <div class="afrohk-TV">
                        <h3 class="text-center afrohk-text mb-2 py-0"><span class="afrohk">AfroHK</span><span
                            class="tv">Radar</span>
                        </h3>
                      </div>
                      <div id="monitorscreen">
                        <iframe id="vimeo-content" src="<%= chapter.aboutLink %>" frameborder="0" height="500px"
                          width="1000px" allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                          title="High-intensity Classes"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Self practice -->
        <div class="self-practice-wrapper">
          <h3 class="practice-alone text-center"> S'Entraîner</h3>
          <div class="self-practice-btn">
            <a class="btn mx-3 btn-primary"
              href="/100bac/class/<%= schoolClass._id%>/subject/<%=subject._id%>/chapter/<%=chapter._id%>/SE">Exercices
              d'apprentissage</a>
            <button class="btn video-btn btn-outline-primary mx-2 my-2" type="button" data-bs-toggle="collapse"
              data-bs-target="#self-p-1" aria-expanded="false" aria-controls="collapseExample">
              Obtenir une accès premium pour ce chapitre
            </button>
            <a class="btn mx-3 btn-warning"
              href="/100bac/class/<%= schoolClass._id%>/subject/<%=subject._id%>/chapter/<%=chapter._id%>/PRE">Accès
              Premium</a>
          </div>

          <div class="collapse" id="self-p-1">
            <div class="card card-body">
              <div class="container">
                <h5 class="py-3 text-center">Contactez-nous avec le réseau de votre choix pour obtenir un accès premium
                </h5>
                <div class="d-flex pb-3 justify-content-around">
                  <a style="display: inline-block;" href="tel: +22664350101">
                    <!-- <i class="fa mx-2 fa-phone" aria-hidden="true"></i> -->
                    <span class="btn btn-dark" style="color: orangered;">Orange BF</span></a>
                  <a style="display: inline-block;" href="tel: +22653344444">
                    <!-- <i class="fa mx-2 fa-phone" aria-hidden="true"></i> -->
                    <span class="btn btn-primary">Moov Africa</span></a>
                  <a style="display: inline-block;" href="tel: +22678875576">
                    <!-- <i class="fa mx-2 fa-phone" aria-hidden="true"></i> -->
                    <span class="btn btn-info">Telecel Faso</span></a>
                  <a style="display: inline-block;" class="btn btn-success " href="https://wa.me/22653344444"
                    target="_blank">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <span class="">WhatsApp</span></a>
                </div>
                <h4 class="text-center container py-2 price my-3">Prix: 2000fcfa</h4>
              </div>
              <hr>

              <h3 class="text-center" style="color: rgb(44, 102, 156);">Avantage d'un accès premium</h3>
              <ul class="avantage">
                <li class="item">Correction détaillée en vidéo des exercices de CIAM et plus</li>
                <li class="item">Correction détaillée en vidéo des sujets d’examen</li>
                <li class="item">Correction détaillée en vidéo des sujets des grands établissements</li>
                <li class="item">Intégration à notre plateforme pour le coaching</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>
  <% } %>
</div>


<!-- Graph calculator script -->
<script>
  var elt = document.getElementById('calculator');
  var calculator = Desmos.GraphingCalculator(elt);
  calculator.setExpression({
    id: 'graph1',
    latex: 'y=x^2'
  });
  calculator.updateSettings({
    language: 'fr'
  });

  var elt = document.getElementById('scien-calculator');
  var scientfic_calculator = Desmos.ScientificCalculator(elt);
  scientific_calculator.updateSettings({
    language: 'fr'
  });
</script>