<% layout('layouts/100bacBoilerplate') %>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link href="/stylesheets/100bac/serieHome.css" rel="stylesheet" />


<div id="header">
  <div class="bac-banner">
    <!-- Breadcrumbs-->
    <div class="breadcrumb">
      <a href="/100bac" class="">Acceuil - Easy-Maths</a>
      <a href="" class="active"><%= schoolClass.title %> </a>
    </div>
    <!-- End -->
    <div class="d-flex flex-column">
      <div class="serie-text">
        <h1 id="welcome" class="display-4 animated bounce text-center">
          Easy-<span style="color:rgb(125, 6, 164) ;">Maths</span> <%= schoolClass.title %>
        </h1>
        <p class="text-center about">
          Étudier et Réviser à son rythme selon ses besoins et sa disponibilité
        </p>
      </div>
    </div>
  </div>
  <!--End Header-->
  <!-- Section 1 nos cours -->
  <div class="container my-5">
    <div class="row mt-3">
      <% for(let subject of schoolClass.subjects) {%>
      <div class="col-12 col-md-4 mb-5 rounded">
        <div class="d-flex mt- mb-2 justify-content-center">
          <div class="card my-card" style="width: 18rem">
            <img class="card-img-top" style="height: 14rem" src="<%= subject.subjectImageUrl %>" alt="Card image cap" />
            <div class="card-body comprendre-mon-cours">
              <button class="btn mt-1 course-btn btn-default btn-outline-success">
                <a href="/100bac/class/<%= schoolClass._id %>/subject/<%=subject._id %>" class="course-link">Accéder au
                  contenu</a>
              </button>

              <button class="mt-3 text-white btn btn-default btn-success course-link " data-bs-toggle="modal"
                data-bs-target="#N<%= subject.title %>">
                En Savoir Plus
              </button>

              <!-- Modal -->
              <div class="modal fade" id="N<%= subject.title %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-primary" id="exampleModalLabel">A propos de <%= subject.title %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div id="tv-container">
                        <div id="monitor">
                          <div class="afrohk-TV">
                            <h3 class="text-center afrohk-text mb-2 py-0">
                              <span class="afrohk">AfroHK</span><span class="tv">Radar</span>
                            </h3>
                          </div>
                          <div id="monitorscreen">
                            <iframe id="vimeo-content" src="" frameborder="0" height="500px" width="1000px"
                              allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                              title="High-intensity Classes"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Quitter</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<!--Fin Section 2 -->
<!--Fin Section 4 Anglais -->