<% layout('layouts/100bacBoilerplate') %>
<style>
  .form-label {
    padding: 1rem 0 0;
    color: blueviolet;
  }
</style>
<h3 class="text-center"> <%= schoolClass.title %></h3>
<h4 class="text-center">Liste des chapitres de <%= subject.title %></h4>
<hr>
<div class="container">
  <div class="row">
    <% for(let chapter of subject.chapitres) {%>
    <div class="px-2 col-md-4">
      <div class="px-2 card">
        <h4 class="py-2"><%= chapter.title %></h4>
        <!-- Button trigger modal -->
        <button type="button " class="btn mb-3 btn-success" data-bs-toggle="modal"
          data-bs-target="#N-<%= chapter._id %>">
          Ajoutez un contenu video
        </button>
        <%if(currentUser.role === "admin"){%>
        <button type="button " class="btn mb-3 btn-secondary" data-bs-toggle="modal"
          data-bs-target="#Nacc-<%= chapter._id %>">
          Give premium access</button>
        <%}%>

        <!-- Modal -->
        <div class="modal fade" id="N-<%= chapter._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Create a new video content
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form
                action="/admindashboard/100bac/class/<%=schoolClass._id%>/subject/<%=subject._id%>/chapter/<%= chapter._id %>/videocontent"
                method="post">

                <select class="form-select mt-2" id="video-type" class="form-control" required name="video[videoType]"
                  aria-label="Default select example">
                  <option selected>Select video Type</option>
                  <option value="course">Cours</option>
                  <option value="bonus_profs">Bonus des Profs</option>
                  <option value="starterEx">Starter Exercise</option>
                  <option value="advanceEx">Adance Exercise</option>
                  <option value="nationalExam">National Exam</option>
                  <option value="schoolExam">School Exam</option>
                  <option value="CIAM_basic">CIAM Exo d'apprentissage</option>
                  <option value="CIAM_Premium">CIAM Exo d'approfondissment</option>
                  <option value="exo_perso">Self-Practice Exercise</option>
                  <option value="practiceEx">No Correction Exercise</option>
                </select>

                <label class="form-label" for="title">Video Title</label>
                <input type="text" class="form-control" id="video-title" name="video[title]" required value="" />

                <label class="form-label" for="link">Link</label>
                <input type="text" class="form-control" id="video-link" name="video[videoLink]" value="" required />

                <label class="form-label" for="author">Author</label>
                <input type="text" class="form-control" id="video-author" name="video[author]" value="" />

                <label class="form-label" for="exam-year">Year of the Exam</label>
                <input type="text" class="form-control" id="exam-year" name="video[examYear]" value="" />

                <label class="form-label" for="school">School</label>
                <input type="text" class="form-control" id="school" name="video[school]" value="" />

                <label class="form-label" for="link">Country</label>
                <input type="text" class="form-control" id="country" name="video[country]" value="" />

                <label class="form-label" for="link">Pdf Link</label>
                <input type="text" class="form-control" placeholder="Obligatoire pour les exercices" id="country"
                  name="video[pdf_Link]" value="" />

                <label class="form-label" for="link">Book reference</label>
                <input type="text" class="form-control" id="country" name="video[reference]" value="" />

                <label class="form-label" for="link">Video Correction Link</label>
                <input type="text" class="form-control" id="country" name="video[correctionVideoLink]" value="" />

                <label class="form-label" for="link">Other info</label>
                <input type="text" class="form-control" id="country" name="video[otherInfo]" value="" />

                <button type="submit" class="mt-4 btn btn-outline-success">
                  Create video content
                </button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal for access -->
      <!-- Modal -->
      <div class="modal fade" id="Nacc-<%= chapter._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Premium access </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form
                action="/admindashboard/100bac/class/<%=schoolClass._id%>/subject/<%=subject._id%>/chapter/<%= chapter._id %>/givepremiumaccess"
                method="post">
                <label class="form-label" for="title">Student username</label>
                <input type="text" class="form-control" id="" name="student_username" required value="" />
                <button type="submit" class="mt-4 btn btn-outline-success">
                  Give premium access</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%}%>
    </div>
</div>