<% layout('layouts/pecpBoilerplate') %>
  <style>
    html {
      font-size: 80%;
    }

    body {
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .pecp_wrapper {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      background-color: aliceblue;
      border-radius: 5px;
    }

    .pecs {
      padding: 2rem 5rem;
      text-align: center;
      /* font-family: 'Rye', cursive; */
      color: rgb(13, 87, 152);
    }

    .lg-heading {

      color: rgb(13, 87, 152);
      font-size: 1.4rem;

      text-align: center;
    }

    .lg-heading-text {
      font-family: Georgia, 'Times New Roman', Times, serif;
      /* font-family: "Paytone One", sans-serif; */
      /* font-family: 'Rye', cursive; */
      /* font-family: 'Titan One', cursive; */
      font-size: 1.2rem;
      text-align: center;
    }

    .lg-heading-paragraph {
      font-family: "Paytone One", sans-serif;
      font-size: 1.4rem;
      text-align: center;
      color: #2B32B2;
      margin-top: 2rem;

    }

    .activity-links {
      font-size: 1.2rem;
      background-color: rgb(26, 136, 232);
      color: aliceblue;
      text-decoration: none;
      margin: 1rem 0;
      padding: 0.5rem;
      transition: all 0.3s;
      border-radius: 5px;
    }

    .activity-links:hover {
      color: blue;
      background-color: aliceblue;
      border: 1px solid black;
    }

    .section-title {
      font-family: "Paytone One", sans-serif;
      font-size: 1.8rem;
      background-color: blueviolet;
      background: #1A2980;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #26D0CE, #1A2980);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: white;
      text-align: center;
      padding: 1.2rem 1rem;
    }

    .course-wrapper {
      border: 3px solid #1A2980;
      border-radius: 5px;
    }

    .course-link-wrapper{
      border-radius: 5px;
      border: 2px solid white;
      background: #1A2980;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #26a0d0, #1A2980);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #26a0d0, #1A2980);
    }

    .course-link {
      color: white;
     
      text-decoration: none;
      font-size: 1.3rem;
      padding: 1.3rem 2rem;
      transition: all 0.3s;
    }

    .course-link:hover {
      text-decoration: none;
      font-size: 1.35rem;
      color: white;

    }

    .conv-info-wrapper {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      background-color: rgb(245, 242, 248);
      border-radius: 5px;
    }

    .conv-info-text {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.4rem;
      font-style: italic;
      padding: 2rem 3rem;
    }

    td {
      color: #0a3d93;
    }

    .notest {
      /* background: url(https://images.pexels.com/photos/1181317/pexels-photo-1181317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) */
      background: url(https://images.pexels.com/photos/5336951/pexels-photo-5336951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /* width: 100vw; */
      /* overflow: hidden; */
      /* font-family: */
      font-weight: 700;
      min-height: 90vh;
      position: relative;
      /* padding: 0 10rem 0 2rem; */
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
    }

    .interview {
      background: url(https://images.pexels.com/photos/5336951/pexels-photo-5336951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      /* width: 100vw; */
      /* overflow: hidden; */
      /* font-family: */
      font-weight: 700;
      min-height: 90vh;
      position: relative;
      /* padding: 0 10rem 0 2rem; */
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
    }


    @media (max-width: 600px) {
      html {
        font-size: 70%;
      }
    }
  </style>

  <div class="container col-lg-8 mb-5 d-flex flex-column align-items-center">
    <div class="pecp_wrapper mt-5">
      <h1 class="pecs">My English Learning Space</h1>
      <hr>
      <div class="d-flex justify-content-evenly flex-wrap py-3">
        <a href="#courses" class="ms-2 activity-links d-block">Mes cours</a>
        <a href="#conversation" class="mx-2 activity-links d-block">Pratique de la conversation</a>
        <a href="#progress" class="mx-2 activity-links d-block">Progres</a>
        <a href="#cvInt" class="ms-2 activity-links d-block">Mon CV en Interview</a>
      </div>
      <hr>
      <div class="container ps-5 py-5">
        <!-- <h3 class="lg-heading">Active learning goal</h3> -->
        <h3 class="lg-heading-text">Hello <%= user.surname %> ! Souvenez-vous toujours de votre objectif tout au long de
            cette aventure pour maitriser l'Anglais.
        </h3>
        <p class="lg-heading-paragraph"> - <%= student.learningGoal %> -</p>
      </div>
    </div>

  </div>


  <div class="container  mb-5 d-flex flex-column align-items-center">
    <!-- Button trigger modal 
    <a type="button" class="btn btn-success"
      href="https://drive.google.com/file/d/1hwTWJumD3ncuNh1QqZx_659T4K01nMtJ/view?usp=share_link" target="_blank">
      Guide de l'apprenant (PECP)
    </a>
    -->
  </div>

  <!-- My courses -->
  <div id="courses">
    <h3 class="section-title">Mes cours</h3>
    <div class="container my-5">
      <div class="row">
        <% for (let course of studentSpecial_courses){ %>
          <div class="col-md-4 course-wrapper">
            <div class="img-wrapper">
              <img src="<%=course.courseImageUrl %>" class="img-fluid img-thumbnail mt-2 " class="" alt="">
            </div>
            <p class="my-3 py-3 course-link-wrapper">
              <a href="/courses/<%= course._id %>" target="_blank" class="course-link">
                <%= course.title %>
              </a>
            </p>
          </div>
          <%}%>
      </div>
    </div>
  </div>

  <!-- Conversation practice -->
  <div id="conversation" class="mb-5 pb-5 pt-2">
    <h3 class="section-title">Pratique de la conversation</h3>
    <p class="conv-info-text container col-md-10">Dans cette section vous aurez toutes les informations concernant votre
      apprentissage pratique de l'Anglais. Votre coach vous assistera pour l'amelioration continue de votre capacité
      linguistique orale. <br> Pour chaque séance de conversation pratique, votre coach vous fera des retours
      constructifs et vous suggerera des exercices pour vous améliorer.</p>
    <% if( student.pecpStudentConvFeedback.length !==0) {%>
      <div class="container pb-5">
        <div class="row py-3">
          <% for( [i, conv] of student.pecpStudentConvFeedback.entries()){%>
            <div class="col-md-3 py-3">
              <div class="conv-info-wrapper">
                <h6 class="pt-3 px-2  text-center"><i class="fa-regular fa-comments mx-2"></i>Conversation
                  Practice
                  <span> #<%= student.pecpStudentConvFeedback.length - i%> </span>
                  <% if(i===0){%> <span class="badge bg-primary">New</span>
                    <%}%>
                </h6>
                <hr>
                <p class="pb-2 fs-5 px-4" style="height: 5rem;"><span class="fw-bold text-primary">Topic </span> <i
                    class="fa-solid text-primary fa-hand-point-right mx-2"></i>
                  <%= conv.topicTitle %>
                </p>

                <div class="">
                  <!-- Modal buttons -->
                  <div class="d-flex justify-content-around py-3" style="background: #6190E8;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to left, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                ">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn fs-5 btn-success" data-bs-toggle="modal"
                      data-bs-target="#conv_<%= conv._id %>">
                      Details
                    </button>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn fs-5  btn-primary" data-bs-toggle="modal"
                      data-bs-target="#feedback_<%= conv._id %>">
                      Feedback
                    </button>
                  </div>

                  <!-- Modal for conversation info-->
                  <div class="modal fade" id="conv_<%= conv._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header" style="background-color: rgb(109, 54, 151);">
                          <h5 class="modal-title text-white" id="exampleModalLabel">Details for
                            Conversation
                            Practice
                            <span> #<%= student.pecpStudentConvFeedback.length - i%>
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <div class="fs-5 mb-5">
                              <%- conv.topicDetails %>
                            </div>
                          </div>
                          <hr>
                          <div>
                            <h5 class="px-2 py-2 text-center"
                              style=" border: 2px solid rgb(58, 5, 123); border-radius: 5px;">This
                              conversation
                              practice is
                              scheduled for
                              <span class="fst-ittalic text-primary">
                                <%= conv.callDate.toDateString() %>
                              </span> At
                              <span class="text-primary">
                                <%= conv.callTime %>
                              </span>
                            </h5>
                            <div class="my-3">
                              <a href="<%= conv.callLinkInfo %>" class="fs-5  my-5 mx-3" target="_blank"> <i
                                  class="fa-solid fa-headset mx-3"></i>Click here to join the
                                conversation</a>
                            </div>
                            <hr>
                            <p class="fst-italic fs-5"><i
                                class="fa-solid fa-triangle-exclamation text-danger mx-3"></i>In case you
                              can't
                              make the call,
                              please inform your coach as soon possible</p>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal for feedback-->
                  <div class="modal fade" id="feedback_<%= conv._id %>" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header" style="background-color: rgb(8, 121, 95);">
                          <h5 class=" modal-title text-white" id="exampleModalLabel">Feedback for
                            Conversation
                            Practice
                            <span> #<%= student.pecpStudentConvFeedback.length - i%> </span>
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div>
                            <div class=" py-3 px-2 fs-5 my-3" style="border: 2px solid green ; border-radius: 5px;">
                              <p class="text-center text-success">Conversation Feedback</p>
                              <hr>
                              <%- conv.feedback %>
                            </div>

                            <div class=" py-3 px-2 fs-5  my-3 "
                              style="border: 2px solid rgb(42, 7, 98) ; border-radius: 5px;">
                              <p class="text-center text-primary">Advice for better learning habits</p>
                              <hr>
                              <%- conv.recommendation %>
                            </div>

                            <div class=" py-3 px-2 fs-5  my-3 "
                              style="border: 2px solid rgb(16, 18, 128) ; border-radius: 5px;">
                              <p class="text-center text-secondary">Suggested Exercise</p>
                              <hr>
                              <%- conv.suggested_exercise %>
                            </div>
                          </div>
                          <div>
                            <hr>
                            <p class="fst-italic text-success px-2 fs-5">Feel free to contact the coach for further
                              explanation</p>

                            <p class="fst-italic text-danger px-2 fs-5">If you haven't received your feedback within
                              24h, please
                              contact
                              AfroHK customer service</p>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%}%>
        </div>
        <%}else {%>
      </div>
      <%}%>

  </div>

  <!-- My progress -->
  <div id="progress">
    <h3 class="section-title">Ma progression</h3>
    <div class="container col-lg-8 mt-3">

      <% if(student.pecpStudentProgress.length > 0) {%>
        <div class="my-4" style=" border: 1px solid rgb(33, 12, 15); border-radius: 4px;">

          <h4 class="text-center py-3 mb-3" style="letter-spacing: 0.1rem; color: white; background: #1488CC;  /* fallback for old browsers */
           background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
           background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           ">Latest evaluation results </h4>
          <div class="my-4 py-2 px-5">
            <div class="d-flex justify-content-around flex-wrap">
              <p class="fs-5">Evaluation Date:
                <span class=" mx-2" style="color:rgb(94, 3, 116) ;">
                  <%= student.pecpStudentProgress[0].period.toDateString() %>
                </span>
              </p>
              <p class=" fs-5">Test Level: <span class="mx-2 p-2"
                  style="background-color: rgb(94, 3, 116); color: aliceblue; border-radius: 50%;">
                  <%= student.pecpStudentProgress[0].testLevel %>
                </span></p>
              <p class="fs-5"> Writing Test Results <span class="mx-2 p-2"
                  style="background-color: rgb(94, 3, 116); color: aliceblue; border-radius: 50%;">
                  <%= student.pecpStudentProgress[0].testGrade %>%
                </span>
              </p>
            </div>

            <div class="my-3" style="border: 1px solid black; border-radius: 5px;">
              <h4 class="text-white text-center px-3 py-3"
                style="background: #134E5E;  /* fallback for old browsers */
                   background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
                   background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                Speaking Skills Evaluation Results</h4>
              <div class="table-responsive">
                <table class="table fs-5 table-bordered table-hover">
                  <thead>
                    <tr style="background-color:rgb(194, 209, 194) ;">
                      <th scope="col">Skills</th>
                      <th scope="col">Structure</th>
                      <th scope="col">Pronunciation</th>
                      <th scope="col">Vocabulary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Evaluation</th>
                      <td>
                        <%= student.pecpStudentProgress[0].structure %>
                      </td>
                      <td>
                        <%= student.pecpStudentProgress[0].pronunciation %>
                      </td>
                      <td>
                        <%= student.pecpStudentProgress[0].vocabulary %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table fs-5 table-bordered table-hover">
                  <thead>
                    <tr style="background-color:rgb(194, 209, 194) ;">
                      <th scope="col">Skills</th>
                      <th scope="col">Comprehension</th>
                      <th scope="col">Fluency</th>
                      <th scope="col">Interaction</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Evaluation</th>
                      <td>
                        <%= student.pecpStudentProgress[0].comprehension %>
                      </td>
                      <td>
                        <%= student.pecpStudentProgress[0].fluency %>
                      </td>
                      <td>
                        <%= student.pecpStudentProgress[0].interaction %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="" style="border: 1px solid black; border-radius: 5px;">
              <h4 class="text-white text-center py-3" style="background: #134E5E;  /* fallback for old browsers */
                   background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
                   background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   ">Feedback and Recommendations
              </h4>
              <div class="fs-5 p-3">
                <%- student.pecpStudentProgress[0].feedback %>
              </div>
            </div>
          </div>

        </div>

        <!-- View all results -->
        <!-- Button trigger modal -->
        <button type="button" class="btn my-4 btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#evaluations">
          View all my evaluations results
        </button>

        <!-- Modal -->
        <div class="modal fade" id="evaluations" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Progress Tracking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <% for (result of student.pecpStudentProgress){%>
                  <div class="my-4 py-2">
                    <div class="d-flex justify-content-around">
                      <p class="fs-5">Evaluation Date:
                        <span class=" mx-2" style="color:rgb(94, 3, 116) ;">
                          <%= result.period.toDateString() %>
                        </span>
                      </p>
                      <p class=" fs-5">Test Level: <span class="mx-2 p-2"
                          style="background-color: rgb(94, 3, 116); color: aliceblue; border-radius: 50%;">
                          <%= result.testLevel %>
                        </span></p>
                      <p class="fs-5"> Writing Test Results <span class="mx-2 p-2"
                          style="background-color: rgb(94, 3, 116); color: aliceblue; border-radius: 50%;">
                          <%= result.testGrade %>%
                        </span>
                      </p>
                    </div>

                    <div class="my-3" style="border: 1px solid black; border-radius: 5px;">
                      <h4 class="text-white text-center px-3 py-3"
                        style="background: #134E5E;  /* fallback for old browsers */
                           background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
                           background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                        Speaking Skills Evaluation Results</h4>
                      <table class="table fs-5 table-bordered table-hover">
                        <thead>
                          <tr style="background-color:rgb(194, 209, 194) ;">
                            <th scope="col">Skills</th>
                            <th scope="col">Structure</th>
                            <th scope="col">Pronunciation</th>
                            <th scope="col">Vocabulary</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Evaluation</th>
                            <td>
                              <%= result.structure %>
                            </td>
                            <td>
                              <%= result.pronunciation %>
                            </td>
                            <td>
                              <%= result.vocabulary %>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table class="table fs-5 table-bordered table-hover">
                        <thead>
                          <tr style="background-color:rgb(194, 209, 194) ;">
                            <th scope="col">Skills</th>
                            <th scope="col">Comprehension</th>
                            <th scope="col">Fluency</th>
                            <th scope="col">Interaction</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Evaluation</th>
                            <td>
                              <%= result.comprehension %>
                            </td>
                            <td>
                              <%= result.fluency %>
                            </td>
                            <td>
                              <%= result.interaction %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="" style="border: 1px solid black; border-radius: 5px;">
                      <h4 class="text-white text-center py-3" style="background: #134E5E;  /* fallback for old browsers */
                           background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
                           background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           ">Feedback and Recommendations
                      </h4>
                      <div class="fs-5 p-3">
                        <%- result.feedback %>
                      </div>
                    </div>
                  </div>
                  <hr class="py-2">
                  <%}%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <%} else {%>
          <img src="http://www.sulitest.org/files/source/logo%20test%20horiz%20bis.png?1574185700651"
            class="img img-fluid" alt="">
          <p class="tesxt-center my-5 fs-4">You have not taken the initial progress test yet. <br> Contact PECP Program
            Director for all information about the initial test. <br>

            <em class="text-primary">Once you take the test, the result will be available on your profile page within 2
              days.</em>
          </p>
          <%}%>
    </div>
  </div>

  <!-- My cvInt -->
  <div id="cvInt">
    <h3 class="section-title">Mon Cv en Interview</h3>
    <% if(student.myCv.length> 0) {%>
      <div class="container py-5">
        <div class="d-flex interview justify-content-around">
          <!--  -->
          <a href="<%= student.myCv[0].studentCvPdf%>" class="d-block btn btn-success fs-5 px-5 my-4"
            target="_blank">Click here to access your Cv in
            English version</a>

        </div>

        <div class="col-md-8 container my-5">
          <p class="fs-5 fst-italic pb-3"> <span class="fw-bold">"L'habitude est une seconde nature" </span> <br> <i
              class="fa-solid fa-headphones"></i>
            Prenez l'habitude de vous écoutez faire votre meilleure performance pour
            un interview en Anglais.</p>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
            src="<%= student.myCv[0].studentCvAudio%>"></iframe>
        </div>
        <div class="container py-3">
          <div class="col-lg-8 container">
            <hr>
            <h4 class="ps-3" style="font-family: Georgia, 'Times New Roman', Times, serif; color:#0a3d93;">Interview
              Transcript</h4>
            <%- student.myCv[0].studentCvInterview %>
          </div>
        </div>
      </div>
      <%}else{%>
        <div class="fs-5  notest">
          <p class="text-center text-white fs-1 fst-italic" style="text-shadow: 1px 1px black;">You haven't practiced
            for
            an interview yet.</p>
        </div>
        <%}%>
  </div>