<% layout('layouts/boilerplate') %>
<!-- WORD Processor-->
<script src="https://cdn.tiny.cloud/1/p06f8vxdpje8xosyvnq48z68vc7n479iauh5s2jk9zx30qg2/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '.mytextarea',
    height: 200,
    relative_urls: false,
    remove_script_host: false,
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    max_width: 500,
    min_height: 300,
    min_width: 400
  });
</script>

<h1 class="text-center my-5" style="color: blueviolet;"><%= club.acronym %> Board Members Dashboard</h1>
<div class="d-flex justify-content-around py-3" style="background-color: rgb(40, 43, 43);">
  <a class="btn btn-outline-warning mx-3 fs-5"
    href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>">Go back to club</a>
  <a class="btn btn-outline-warning mx-3 fs-5"
    href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/home">Club home page</a>
</div>

<% if(currentUser.role === "account-manager"){%>
  <!-- Admin  -->
  <div class="container my-5 p-3 col-md-8" style="background-color: aliceblue;">
    <h4 class="text-center py-4">Handling Club Members</h4>
    <div class="d-flex justify-content-around">
      
        <button class="btn btn-primary  my-2  ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#new-member"
          aria-expanded="false" aria-controls="collapseExample">
          Add new member
        </button>
  
        <button class="btn btn-primary  my-2  ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#new-boardM"
          aria-expanded="false" aria-controls="collapseExample">
          Add new board member
        </button>
  
        <button class="btn btn-success  my-2  ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#club_info"
          aria-expanded="false" aria-controls="collapseExample">
          Update Club Info
        </button>
      
    </div>
  
    <!-- Add New Member Form -->
    <div class="collapse p-5" id="new-member" style="background-color: rgb(192, 198, 203);">
      <form
        action="/admindashboard/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/new_member"
        method="POST">
        <!-- New Member Username -->
        <label class="form-label my-3" for="new-member">New Member Username</label>
        <input type="text" class="form-control" name="newMember" required id="" value="" />
  
        <!-- New member Level -->
        <label class="form-label my-3" for="new-member-level">New member level</label>
        <select class="form-select" name="level" aria-label="Default select example">
          <option selected value="A1 - Elementary">A1 Elementary</option>
          <option value="A2 - Pre-Intermediate">A2 Pre-Intermediate</option>
          <option value="B1 - Intermediate">B1 Intermediate</option>
          <option value="B2 - Upper-Intermediate">B2 Upper-Intermediate</option>
          <option value="C1 - Advanced">C1 Advanced</option>
          <option value="C2 - Proficient">C2 Proficient</option>
        </select>
  
        <button class="btn my-3  me-2 btn-success" type="submit">Add</button>
      </form>
    </div>
  
    <!-- Add board Member Form -->
    <div class="collapse  p-5" id="new-boardM" style="background-color: rgb(201, 192, 203);">
      <form
        action="/admindashboard/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/new_board_member"
        method="POST">
        <!-- New Member Username -->
        <label class="form-label my-3" for="new-member">New Board Member Username</label>
        <input type="text" class="form-control" name="newBoardMember" required id="" value="" />
  
        <!-- New Member Username -->
        <label class="form-label my-3" for="new-member">New Board Member Position</label>
        <input type="text" class="form-control" name="position" required id="" value="" />
  
        <button class="btn my-3  me-2 btn-success" type="submit">Create a new board position</button>
      </form>
    </div>
  
    <!-- Update club info  -->
    <div class="collapse  p-5" id="club_info" style="background-color: rgb(192, 198, 203);">
      <form action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/info?_method=PUT"
        method="POST">
        <!-- Family picture -->
        <label class="form-label my-3" for="family_picture">Family Picture</label>
        <input type="text" class="form-control" name="familyPictureUrl" required id=""
          value="<%= club.bannerImageUrlMedium %>" />
  
        <!-- Club Presentation video -->
        <label class="form-label my-3" for="family_picture">Club Presentation video</label>
        <input type="text" class="form-control" name="clubPresentationVideoUrl" required id=""
          value="<%= club.clubPresentationVideoUrl %>" />
        <!-- Club Description -->
        <label class="form-label my-3" for="english Club description">Club Description</label>
        <textarea type="text" class="form-control mytextarea" name="englishClubDescription" value=""
          id=""><%= club.description %></textarea>
  
        <button class="btn my-3  me-2 btn-success" type="submit">Add</button>
      </form>
    </div>
  </div>
  <%}%>

<% if(currentUser.role === "admin"){%>
<!-- Admin  -->
<div class="container my-5 p-3 col-md-8" style="background-color: aliceblue;">
  <h4 class="text-center py-4">Handling Club Members</h4>
  <div class="d-flex justify-content-around">
    <p>
      <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#new-member"
        aria-expanded="false" aria-controls="collapseExample">
        Add new member
      </button>

      <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#new-boardM"
        aria-expanded="false" aria-controls="collapseExample">
        Add new board member
      </button>

      <button class="btn btn-success ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#club_info"
        aria-expanded="false" aria-controls="collapseExample">
        Update Club Info
      </button>
    </p>
  </div>

  <!-- Add New Member Form -->
  <div class="collapse  p-5" id="new-member" style="background-color: rgb(192, 198, 203);">
    <form
      action="/admindashboard/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/new_member"
      method="POST">
      <!-- New Member Username -->
      <label class="form-label my-3" for="new-member">New Member Username</label>
      <input type="text" class="form-control" name="newMember" required id="" value="" />

      <!-- New member Level -->
      <label class="form-label my-3" for="new-member-level">New member level</label>
      <select class="form-select" name="level" aria-label="Default select example">
        <option selected value="A1 - Elementary">A1 Elementary</option>
        <option value="A2 - Pre-Intermediate">A2 Pre-Intermediate</option>
        <option value="B1 - Intermediate">B1 Intermediate</option>
        <option value="B2 - Upper-Intermediate">B2 Upper-Intermediate</option>
        <option value="C1 - Advanced">C1 Advanced</option>
        <option value="C2 - Proficient">C2 Proficient</option>
      </select>

      <button class="btn my-3  me-2 btn-success" type="submit">Add</button>
    </form>
  </div>

  <!-- Add board Member Form -->
  <div class="collapse  p-5" id="new-boardM" style="background-color: rgb(201, 192, 203);">
    <form
      action="/admindashboard/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/new_board_member"
      method="POST">
      <!-- New Member Username -->
      <label class="form-label my-3" for="new-member">New Board Member Username</label>
      <input type="text" class="form-control" name="newBoardMember" required id="" value="" />

      <!-- New Member Username -->
      <label class="form-label my-3" for="new-member">New Board Member Position</label>
      <input type="text" class="form-control" name="position" required id="" value="" />

      <button class="btn my-3  me-2 btn-success" type="submit">Create a new board position</button>
    </form>
  </div>

  <!-- Update club info  -->
  <div class="collapse  p-5" id="club_info" style="background-color: rgb(192, 198, 203);">
    <form action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/info?_method=PUT"
      method="POST">
      <!-- Family picture -->
      <label class="form-label my-3" for="family_picture">Family Picture</label>
      <input type="text" class="form-control" name="familyPictureUrl" required id=""
        value="<%= club.bannerImageUrlMedium %>" />

      <!-- Club Presentation video -->
      <label class="form-label my-3" for="family_picture">Club Presentation video</label>
      <input type="text" class="form-control" name="clubPresentationVideoUrl" required id=""
        value="<%= club.clubPresentationVideoUrl %>" />
      <!-- Club Description -->
      <label class="form-label my-3" for="english Club description">Club Description</label>
      <textarea type="text" class="form-control mytextarea" name="englishClubDescription" value=""
        id=""><%= club.description %></textarea>

      <button class="btn my-3  me-2 btn-success" type="submit">Add</button>
    </form>
  </div>
</div>

<!-- Weekly Activity -->
<div class="container my-5 p-3 col-md-8" style="background-color: rgb(147, 175, 250);">
  <h4 class="text-center py-4">English Club Weekly Activities</h4>
  <div class="d-flex justify-content-around">
    <p>
      <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#videoLesson"
        aria-expanded="false" aria-controls="collapseExample">
        Post a new video lesson
      </button>

      <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#weeklyExercise"
        aria-expanded="false" aria-controls="collapseExample">
        Post weekly practice exercises
      </button>
  </div>

  <!-- Add New Video Form -->
  <div class="collapse p-5" id="videoLesson" style="background-color: rgb(129, 157, 153);">
    <form
      action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/videoLesson"
      method="POST">
      <!-- Lesson title -->
      <label class="form-label my-3" for="lessonTitle">Lesson title</label>
      <input type="text" class="form-control" name="weeklyLesson[lessonTitle]" required id="articleImage" value="" />

      <!-- Video Link  -->
      <label class="form-label my-3" for="videoLink">Video Link</label>
      <input type="text" class="form-control" name="weeklyLesson[videoLink]" required value="" id="title" />


      <!-- Author -->
      <label class="form-label my-3" for="author">Author</label>
      <input type="text" class="form-control" name="weeklyLesson[lessonAuthor]" required value="" id="articleAuthor" />

      <!-- Lesson Summary -->
      <label class="form-label my-3" for="lessonSummary">Lesson Summary</label>
      <textarea type="text" class="form-control mytextarea" name="weeklyLesson[lessonSummary]" value=""
        id="articleContent"></textarea>

      <button class="btn my-3  mx-2 btn-success" type="submit">Post</button>
    </form>
  </div>

  <!-- Weekly exercise Form -->
  <div class="collapse  p-5" id="weeklyExercise" style="background-color: rgb(238, 240, 243);">
    <form
      action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/weeklyPractice"
      method="POST">

      <!-- Exercise Type-->
      <label class="form-label my-3" for="exerciseType">Type of exercise</label>
      <select class="form-select" name="practice[exerciseType]" aria-label="Default select example">
        <option selected value="Grammar">Grammar</option>
        <option value="Vocabulary">Vocabulary</option>
        <option value="Listening Comprehension">Listening Comprehension</option>
        <option value="Reading Comprehension">Reading Comprehension</option>
        <option value="Watching Comprehension">Watching Comprehension</option>
        <option value="Dictation">Dictation</option>
        <option value="Read Aloud">Read Aloud</option>
        <option value="LSC">LSC</option>
      </select>

      <!-- Exercise Level -->
      <label class="form-label my-3" for="">Exercise level</label>
      <select class="form-select" name="practice[level]" aria-label="Default select example">
        <option selected value="A1">A1 Elementary</option>
        <option value="A2">A2 Pre-Intermediate</option>
        <option value="B1">B1 Intermediate</option>
        <option value="B2">B2 Upper-Intermediate</option>
        <option value="C1">C1 Advanced</option>
        <option value="C2">C2 Proficient</option>
      </select>

      <!-- Exercice Title-->
      <label class="form-label my-3" for="Exercise title">Exercise Title</label>
      <input type="text" class="form-control" name="practice[exerciseTitle]" id="" value="" />

      <!-- Exercice Link-->
      <label class="form-label my-3" for="Exercise Link">Exercise link</label>
      <input type="text" class="form-control" name="practice[exerciseLink]" id="" value="" />

      <!-- Exercice Correction Link-->
      <label class="form-label my-3" for="Exercise Link">Exercise Correction link</label>
      <input type="text" class="form-control" name="practice[exerciseCorrectionLink]" id="" value="" />

      <!-- More Exercice Link-->
      <label class="form-label my-3" for="Exercise Link">More Exercise link</label>
      <input type="text" class="form-control" name="practice[moreExerciseLink]"id="" value="" />
      <hr>
      <p class="text-danger">This section is only for reading aloud exercise</p>
       <!-- Reading -->
       <label class="form-label my-3" for="articleContent">Reading Text</label>
       <textarea type="text" class="form-control mytextarea" name="practice[readingText]" value=""
         id="articleContent"></textarea>

         <!-- Slow reading Link-->
      <label class="form-label my-3" for="Exercise Link">Slow reading link</label>
      <input type="text" class="form-control" name="practice[slowReadingLink]"id="" value="" />

      <!-- Normal reading Link-->
      <label class="form-label my-3" for="Exercise Link">Normal Reading link</label>
      <input type="text" class="form-control" name="practice[normalReadingLink]" id="" value="" />
       <hr />

      <button class="btn my-3  me-2 btn-success" type="submit">Add new weekly practice</button>
    </form>
  </div>
</div>

<hr class="" style="background-color: rgb(18, 2, 23); height: 1rem;" />

<!-- Video Lesson -->
<div class="d-flex mb-3 justify-content-center">
  <a href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/videoLessons"
    type="button" class="btn mx-2 btn-outline-primary">
    View all video lessons of the year</a>
</div>

<!-- Media of the english club -->
<h3 class="text-center text-white py-3" style="background-color: rgb(25, 28, 31);"> Live Practice </h3>
<div class="container my-5 col-md-8 p-3" style="background-color: rgba(248, 243, 218, 0.993);">
  <p>
    <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#LivePractice"
      aria-expanded="false" aria-controls="collapseExample">
      English Club activity Video Clip
    </button>
  </p>
  <div class="collapse" id="LivePractice">
    <form
      action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/clubMedia"
      method="POST">

      <!-- Lesson title -->
      <label class="form-label my-3" for="mediaTitle">Video Title</label>
      <input type="text" class="form-control" name="mediaTitle" id="mediaTitle" required value="" />

      <!-- Video Link  -->
      <label class="form-label my-3" for="videoLink">Video Link</label>
      <input type="text" class="form-control" name="videoLink" value="" required id="videoLink" />
      <button class="btn my-3  mx-2 btn-outline-success" type="submit">Post Club Media</button>
    </form>
  </div>
  
  <a href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/allClubMedia"
    type="button" class="btn mx-2 btn-outline-primary">
    View all the video of the English Club </a>
</div>
<% } %>

<hr class="" style="background-color: rgb(18, 2, 23); height: 1rem;" />

<!-- club members list -->
<div class="d-flex justify-content-around py-5">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-secondary fs-3 py-3 px-4" data-bs-toggle="modal" data-bs-target="#club_members">
    Club Members List
  </button>
</div>


<!-- Modal for club members list-->
<div class="modal fade" id="club_members" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Club Members List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full name</th>
              <th scope="col">English Level</th>
              <th scope="col">Take action</th>
            </tr>
          </thead>

          <tbody>
            <% for(let i=0; i < club.members.length ; i++){ %>

            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%=
                club.members[i].clubMember.name +" "+
                club.members[i].clubMember.surname%></td>
              <td><%=
                club.members[i].level %> 
              </td>
             
              <% if(club.members[i].isMuted){%>
              <td>
                <form class="d-inline-block" action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/member/<%=club.members[i]._id %>/unmute_member" method="POST"> <button class="btn btn-primary" type="s
                "><i class="fa-solid px-2 fa-comment"></i></i></button>
              </form>
                <% if(currentUser.role === "admin"){%>
                  <a href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/member/<%=club.members[i]._id %>/grade"
                    class="btn btn-warning">Grade</a>
                    <form class="d-inline-block" action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/member/<%=club.members[i]._id %>/remove_member" method="POST"> <button class="btn btn-danger" type="s
                      ">Remove<i class="fa-solid px-2 fa-person-walking-dashed-line-arrow-right"></i></button> </form>
                  <%}%> 
              </td>
              <%}else{%>
              <td> <form class="d-inline-block" action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/member/<%=club.members[i]._id %>/mute_member" method="POST"> <button class="btn btn-danger" type="s
                "><i class="fa-solid px-2 fa-comment-slash"></i></button>
                 <% if(currentUser.role === "admin"){%>
                <a href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/member/<%=club.members[i]._id %>/grade"
                  class="btn btn-warning">Grade</a>
                  <form class="d-inline-block" action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/member/<%=club.members[i]._id %>/remove_member" method="POST"> <button class="btn btn-danger" type="s
                    ">Remove<i class="fa-solid px-2 fa-person-walking-dashed-line-arrow-right"></i></button> </form>
                <%}%> </td>
              <%}%>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Event -->
<h3 class="text-center text-white py-3" style="background-color: rgb(41, 2, 67);"> UPCOMING EVENT OF THE CLUB
</h3>

<div class="container my-5 col-md-8 p-3" style="background-color: rgba(218, 219, 248, 0.993);">
  <p>
    <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#event"
      aria-expanded="false" aria-controls="collapseExample">
      Post new event
    </button>
  </p>

  <div class="collapse" id="event">
    <form
      action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/event"
      method="POST">
      <!-- title -->
      <label class="form-label my-3" for="title"> Title </label>
      <input type="text" class="form-control" name="event[title]" id="" required value="" />

      <!-- image link  -->
      <label class="form-label my-3" for="videoLink"> Event image Link </label>
      <input type="text" class="form-control" name="event[eventImgLink]" value="" required id="eventImgLink" />

      <!-- date  -->
      <label class="form-label my-3" for="videoLink"> Event Date </label>
      <input type="date" class="form-control" name="event[date]" value="" required id="venue" />

      <!-- Venue  -->
      <label class="form-label my-3" for="videoLink"> Venue </label>
      <input type="text" class="form-control" name="event[venue]" value="" required id="venue" />

      <!-- time  -->
      <label class="form-label my-3" for="videoLink"> Time </label>
      <input type="time" class="form-control" name="event[time]" value="" required id="venue" />

      <!-- New member Level -->
      <label class="form-label my-3" for="new-member-level">Entry</label>
      <select class="form-select" name="event[entry]" aria-label="Default select example">
        <option selected value="Free">Free</option>
        <option value="Ticket">Ticket</option>
        <option value="On invitation">On invitation</option>
      </select>
      <!-- About event -->
      <label class="form-label my-3" for="aboutEvent">About event</label>
      <textarea type="text" class="form-control mytextarea" name="event[aboutEvent]" value="" id="event"></textarea>
      <button class="btn my-3  btn-success" type="submit"> Post event </button>
    </form>
  </div>
</div>

<!-- Article -->
<h3 class="text-center text-white py-3" style="background-color: rgb(25, 28, 31);"> ARTICLES </h3>
<div class="container my-5 col-md-8 p-3" style="background-color: rgba(175, 247, 250, 0.836);">
  <p>
    <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#article"
      aria-expanded="false" aria-controls="collapseExample">
      Write an article
    </button>
  </p>

  <form
    action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/article"
    method="POST">
    <div class="collapse" id="article">
      <!-- Article image url -->
      <label class="form-label my-3" for="articleImage">Image Link</label>
      <input type="text" class="form-control" name="englishClubArticle[articleImage]" id="articleImage" value=""
        required />

      <!-- Title  -->
      <label class="form-label my-3" for="title">Title</label>
      <input type="text" class="form-control" name="englishClubArticle[title]" value="" id="title" required />

      <!-- Article Summary  -->
      <label class="form-label my-3" for="articleSummary">Article Summary</label>
      <input type="text" class="form-control" name="englishClubArticle[articleSummary]"
        placeholder="Write a summary of the article (20 words maximum)" maxlength="200" value="" required id="title" />

      <!-- Author -->
      <label class="form-label my-3" for="author">Author</label>
      <input type="text" class="form-control" name="englishClubArticle[articleAuthor]" value="" required
        id="articleAuthor" />

      <!-- Article Content -->
      <label class="form-label my-3" for="articleContent">Article content</label>
      <textarea type="text" class="form-control mytextarea" name="englishClubArticle[articleContent]" value=""
        id="articleContent"></textarea>
      <hr />
      <button class="btn my-3  mx-2 btn-outline-success" type="submit">Post article</button>
    </div>
  </form>
  <a href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/articles"
    type="button" class="btn  mx-2 btn-outline-primary">
    View all articles of the year </a>
</div>

<!-- Daily vocabulary-->
<h2 class="text-center text-white py-3" style="background-color: rgb(25, 28, 31);">WEEKLY ACTIVITIES </h2>
<div class="container my-5 p-3 col-md-8" style="background-color: rgba(241, 237, 223, 0.836);">
  <h3 class="text-center py-3"> Daily Vocabulary</h3>
  <p>
    <button class="btn m-2 btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#wod" aria-expanded="false"
      aria-controls="collapseExample">
      Word of the day
    </button>

    <button class="btn m-2 btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#iod"
      aria-expanded="false" aria-controls="collapseExample">
      Idiom or Expression of the day
    </button>
  </p>

  <form
    action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/dailyVocab"
    method="POST">
    <div class="collapse mb-3" id="wod">
      <!-- Word of the Day Section-->
      <section class="word-day-wrapper my-4" style="background-color: rgb(197, 240, 248); padding: 2rem;">
        <!-- Word Of The day -->
        <label class="form-label fw-bold my-3" for="Word of the day">Word of the day</label>
        <input type="text" class="form-control" name="wordOfDay[word]" id="word" value="" required />

        <!-- meaning  -->
        <label class="form-label fw-bold my-3" for="title">Meaning</label>
        <input type="text" class="form-control" name="wordOfDay[wordMeaning]" value="" id="wordMeaning" required />

        <!-- Learn more  -->
        <label class="form-label fw-bold my-3" for="learnMoreWord">Learn more</label>
        <textarea type="text" class="form-control mytextarea" name="wordOfDay[learnMoreWord]" value=""
          id="learnMoreWord"></textarea>
      </section>
    </div>

    <div class="collapse mb-3" id="iod">
      <!-- Idiom Of The Day Section-->
      <section class="word-day-wrapper my-4" style="background-color: rgb(214, 248, 217); padding: 2rem;">
        <!-- idiom of the day -->
        <label class="form-label fw-bold my-3" for="Word of the day">Idiom or Useful Expression</label>
        <input type="text" class="form-control" name="IdiomDay[idiom]" id="idiom" required value="" />

        <!-- meaning  -->
        <label class="form-label fw-bold my-3" for="title">Meaning</label>
        <input type="text" class="form-control" name="IdiomDay[idiomMeaning]" required value="" id="idiomMeaning" />

        <!-- Learn more  -->
        <label class="form-label fw-bold my-3" for="learnMoreIdiom">Learn more</label>
        <textarea type="text" class="form-control mytextarea" name="IdiomDay[learnMoreIdiom]" value=""
          id="learnMoreIdiom"></textarea>
      </section>
    </div>
    <button class="btn my-3 mx-2 btn-outline-success" type="submit">Post daily Vocabulary</button>
  </form>
</div>

<!--Weekly meeting-->
<div class="container my-5 p-3 col-md-8" style="background-color: rgba(74, 70, 51, 0.836);">
  <h3 class="text-center text-white py-3">Weekly Meeting</h3>
  <p>
    <button class="btn m-2 btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#wec"
      aria-expanded="false" aria-controls="collapseExample">
      Weekly English Club Meeting
    </button>
  </p>

  <form
    action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/weeklyMeeting"
    method="POST">
    <!-- English Club Meeting Section-->
    <div class="collapse mb-3" id="wec">
      <section class="word-day-wrapper my-4" style="background-color: rgb(154, 172, 172); padding: 2rem;">
        <!-- meeting date -->
        <label class="form-label fw-bold my-3" for="Word of the day">Meeting Date</label>
        <input type="date" class="form-control" name="englishClubMeeting[meetingDate]" id="meetingDate" required
          value="" />

        <!-- Venue  -->
        <label class="form-label fw-bold my-3" for="title"> Venue </label>
        <input type="text" class="form-control" name="englishClubMeeting[venue]" value="" required id="venue" />

        <!-- Time  -->
        <label class="form-label fw-bold my-3" for="title"> Time </label>
        <input type="time" class="form-control" name="englishClubMeeting[meetingTime]" required value="" id="time" />

        <!-- About the meeting  -->
        <label class="form-label fw-bold my-3" for="learnMoreIdiom">More about the weekly meeting</label>
        <textarea type="text" class="form-control mytextarea" name="englishClubMeeting[about]" value=""
          id="learnMoreIdiom"></textarea>
      </section>
    </div>
    <button class="btn my-3 mx-2 btn-outline-warning" type="submit">Post Weekly Meeting Info</button>
  </form>
</div>

<!-- Online debate -->
<div class="container my-5 p-3 col-md-8" style="background-color: rgba(244, 236, 245, 0.836);">
  <h3 class="text-center py-3">Online Debate</h3>
  <p>
    <button class="btn m-2 btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#eod"
      aria-expanded="false" aria-controls="collapseExample">
      Online Debate
    </button>
  </p>

  <form
    action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/onlineDebate"
    method="POST">
    <!-- Online debate Section-->
    <div class="collapse mb-3" id="eod">
      <section class="word-day-wrapper my-4" style="background-color: rgb(248, 240, 214); padding: 2rem;">
        <!-- topic one-->
        <label class="form-label fw-bold my-3" for="topicOne"> Topic One</label>
        <input type="text" class="form-control" name="OnlineDebate[topicOne]" required value="" id="topicOne" />

        <!-- debate date one -->
        <label class="form-label fw-bold my-3" for="Word of the day">Date for 1st Debate</label>
        <input type="date" class="form-control" name="OnlineDebate[debateDateOne]" required id="debateDateOne"
          value="" />

        <!-- Time one -->
        <label class="form-label fw-bold my-3" for="time"> Time </label>
        <input type="time" class="form-control" name="OnlineDebate[debateTimeOne]" required value="" id="time" />


        <!-- topic two-->
        <label class="form-label fw-bold my-3" for="topicTwo"> Topic Two</label>
        <input type="text" class="form-control" name="OnlineDebate[topicTwo]" required value="" id="topicTwo" />
        <!-- debate date two -->
        <label class="form-label fw-bold my-3" for="Word of the day">Date for 2nd Debate</label>
        <input type="date" class="form-control" name="OnlineDebate[debateDateTwo]" required id="debateDateTwo"
          value="" />

        <!-- Time  -->
        <label class="form-label fw-bold my-3" for="time"> Time </label>
        <input type="time" class="form-control" name="OnlineDebate[debateTimeTwo]" required value="" id="time" />

        <!-- About debate topics  topic  -->
        <label class="form-label fw-bold my-3" for="learnMoreIdiom">More about the online debates</label>
        <textarea type="text" class="form-control mytextarea" name="OnlineDebate[aboutTopic]" value=""
          placeholder="Please don't forget to include debate room details for connexion" id="learnMoreIdiom"></textarea>
      </section>
    </div>
    <button class="btn my-3 mx-2 btn-outline-secondary" type="submit">Post Online Debate Info</button>
  </form>
</div>

<!-- Workers of the months -->
<h3 class="text-center  text-white py-3" style="background-color: rgb(25, 28, 31);"> LEADERS OF THE MONTH </h3>
<div class="container my-5 col-md-8 p-3" style="background-color: rgba(234, 243, 243, 0.836);">
  <p>
    <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#student"
      aria-expanded="false" aria-controls="collapseExample">
      Female leader of the Month
    </button>

    <button class="btn btn-primary ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#instructor"
      aria-expanded="false" aria-controls="collapseExample">
      Male leader of the Month
    </button>


    <form
      action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/leadersOfMonth"
      method="POST">
      <div class="collapse" id="student">

        <section class="word-day-wrapper my-4" style="background-color: rgb(221, 241, 195); padding: 2rem;">
          <h4>Female leader of the month</h4>
          <!-- full name -->
          <label class="form-label my-3" for="fullname">Student's fullname </label>
          <input type="text" class="form-control" name="studentOfMonth[fullname]" required id="studentFullname"
            value="" />

          <!-- Image Link -->
          <label class="form-label my-3" for="imageUrl">Image Link</label>
          <input type="text" class="form-control" name="studentOfMonth[imageUrl]" required value="" id="StudentImage" />


          <!-- Reasons -->
          <label class="form-label my-3" for="author">Reasons</label>
          <input type="text" class="form-control" name="studentOfMonth[reasons]" required value="" id="reasons" />

          <!-- About -->
          <label class="form-label my-3" for="about">About the leader</label>
          <textarea type="text" class="form-control mytextarea" name="studentOfMonth[about]" value=""
            id="articleContent"></textarea>
          <hr />
        </section>
      </div>
      <div class="collapse" id="instructor">
        <h4>Male leader of the month</h4>
        <section class="word-day-wrapper my-4" style="background-color: rgb(197, 206, 248); padding: 2rem;">
          <!-- full name -->
          <label class="form-label my-3" for="fullname">Leader's fullname </label>
          <input type="text" class="form-control" name="instructorOfMonth[fullname]" required id="intructorFullname"
            value="" />

          <!-- Image Link -->
          <label class="form-label my-3" for="imageUrl">Image Link</label>
          <input type="text" class="form-control" name="instructorOfMonth[imageUrl]" required value=""
            id="instructorImage" />


          <!-- Reasons -->
          <label class="form-label my-3" for="author">Reasons</label>
          <input type="text" class="form-control" name="instructorOfMonth[reasons]" required value="" id="reasons" />

          <!-- About -->
          <label class="form-label my-3" for="about">About the leader</label>
          <textarea type="text" class="form-control mytextarea" name="instructorOfMonth[about]" value=""
            id="articleContent"></textarea>
          <hr />
        </section>
        <button class="btn my-3  mx-2 btn-outline-success" type="submit">Post leaders of the Month</button>
      </div>
    </form>
    <a href="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/allLeaders"
      type="button" class="btn mx-2 btn-outline-primary">
      View all leaders of the Year</a>
  
</div>

<!-- Mediatheque  -->
<div>
  <h3 class="text-center  text-white py-3" style="background-color: rgb(24, 122, 221);"> Mediatheque </h3>
  <section class="container my-5 col-md-8 p-3" style="background-color: rgb(221, 241, 195); padding: 2rem;">
    <form
      action="/englishlang4all/clubs/<%= hub.cityName %>/hub/<%= hub._id %>/club/<%= club._id %>/board_dashboard/pics"
      method="POST">

      <h4>Picture details</h4>
      <!-- full name -->
      <label class="form-label my-3" for="fullname">Title </label>
      <input type="text" class="form-control" name="gallery[imageTitle]" required id="" value="" />

      <!-- Image Link -->
      <label class="form-label my-3" for="imageUrl">Link</label>
      <input type="text" class="form-control" name="gallery[imageLink]" required value="" id="StudentImage" />
      <button class="btn btn-primary my-4" type="submit">Post Club new Pics</button>

    </form>
  </section>
</div>